# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock (sí se puede subir, pero opcional)
# .terraform.lock.hcl

# Environment variables
.env

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/
